.entry .entry-content .has-large-font-size {
    font-size: 1.2em; 
}

.site{
    background-color: rgb(140, 190, 255);
}

.monbac{
    background-color: rgb(107, 171, 255);
    color:rgb(0, 29, 66);
}
