.wp-caption{
    display: flex;
    border: 4px solid rgb(0, 61, 141);
    color:rgb(0, 29, 66);
    background-color: rgba(107, 171, 255, 75%);
}

.imgCaption{
    margin-top:15px;
    margin-left: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}